body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
}

.screen {
    display: none;
    padding: 20px;
}

.active {
    display: block;
}

.button {
    background: #00bfff;
    padding: 12px;
    text-align: center;
    margin: 15px 0;
    border-radius: 8px;
    cursor: pointer;
}

.secondary-button {
    border: 1px solid #555;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.card {
    padding: 15px 0;
    cursor: pointer;
}

.tag {
    font-size: 12px;
    color: #aaa;
}

video {
    width: 100%;
    height: 75vh;
    object-fit: contain;
    border-radius: 12px;
    margin-top: 15px;
}

.back {
    cursor: pointer;
    margin-bottom: 10px;
    color: #00bfff;
}
