body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
}

.screen {
    display: none;
    padding: 20px;
    padding-bottom: 80px;
}

.active {
    display: block;
}

h1 {
    text-align: center;
}

.button {
    background: #00bfff;
    padding: 12px;
    text-align: center;
    margin: 15px 0;
    border-radius: 8px;
    cursor: pointer;
}

.secondary-button {
    border: 1px solid #555;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.card {
    border-bottom: 1px solid #333;
    padding: 15px 0;
    cursor: pointer;
}

.tag {
    font-size: 12px;
    color: #aaa;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    margin-bottom: 10px;
}

.filters button {
    margin-right: 5px;
    margin-bottom: 10px;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #111;
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
    border-top: 1px solid #333;
}

.nav-item {
    cursor: pointer;
    font-size: 14px;
}

.back {
    cursor: pointer;
    margin-bottom: 10px;
    color: #00bfff;
}